.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.contact__title{
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}
.contact__description{
  font-size: var(--size-sm);
  color: var(--clr-slate6);
  width: 60ch;
}
.contact__btn {
  padding: 10px;
  width: 45px;
  height: 45px;
}
.contact__btn i{
  font-size: var(--size-2xl);
}
.btn_wrapper{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#gmail_icon:hover{
  background-color: #E6E3E6;
  color: #eb493b;
  box-shadow: 0 0 10px 10px rgba(235, 73, 59, .2), 0 6px 6px rgba(235, 73, 59, 0.1), 0 0 50px -10px rgba(240, 1, 1, 0.6);
}
#whatsapp_icon:hover{
  background-color: #2FD14B;
  color: #F8FDF8;
  box-shadow: 0 0 10px 10px rgba(5, 190, 36, .2), 0 6px 6px rgba(5, 190, 36, 0.1), 0 0 50px -10px rgba(1, 169, 29, 0.6);
}
#facebook_icon:hover{
  background-color: #106BFF;
  color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 85, 196, .2), 0 6px 6px rgba(0, 85, 196, 0.1), 0 0 50px -10px rgba(0, 85, 200, 0.6);
}
#instagram_icon:hover{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #fff;
  box-shadow: 0 0 10px 10px rgba(235, 73, 59, .2), 0 6px 6px rgba(235, 73, 59, 0.1), 0 0 50px -10px rgba(240, 1, 1, 0.6);
}

/* xs */
@media (min-width: 475px) {
  .contact{
  gap: 1.5rem;
  }
.contact__title{
  font-size: var(--size-3xl);
  }
.contact__description{
  font-size: var(--size-base);
  }
.contact__btn{
  font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {
  
} */

/* md */
/* @media (min-width: 768px) {
  
} */

/* lrg */
@media (min-width: 1024px) {
  .contact__title{
  font-size: var(--size-4xl);
  }
.contact__description{
  font-size: var(--size-lrg);
  }
.contact__btn{
  font-size: var(--size-lrg);
  padding: 10px;
  width: 50px;
  height: 50px;
  }
}

/* xlrg */
@media (min-width: 1280px) {
  .contact{
  gap: 12rem;
  }
.contact__title{
  font-size: var(--size-5xl);
  }
.contact__description{
  font-size: var(--size-xl);
  }
.contact__btn{
  font-size: var(--size-xl);
  padding: 10px;
  width: 50px;
  height: 50px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  
} */