.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.hero__img{
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 0 10px 10px rgba(243, 244, 246, .2), 0 6px 6px rgba(243, 244, 246, 0.1), 0 0 50px -10px rgba(225, 29, 72, 0.6);
}
.hero__subtitle{
  color: var(--clr-slate6);
  font-size: var(--size-base);
  line-height: 0.9;
}
.hero__title{
  color: var(--clr-slate4);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}
.hero__description{
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate6);
}
.hero__btn{
  font: var(--size-sm);
  text-transform: capitalize;
}

/* xs */
@media (min-width: 475px) {
  
  .hero {
  gap: 1.5rem;
}
.hero__img{
  width: 8.5rem;
  height: 8.5rem;
  object-fit: cover;
  object-position: top;
}
.hero__subtitle{
  font-size: var(--size-lrg);
}
.hero__title{
  font-size: var(--size-5xl);
}
.hero__description{
  font-size: var(--size-base);
}
.hero__btn{
  font: var(--size-base);
}

}

/* sm */
/* @media (min-width: 640px) {
  
} */

/* md */
/* @media (min-width: 768px) {
  
} */

/* lrg */
@media (min-width: 1024px) {
  
  .hero__img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
  }
  .hero__subtitle{
    font-size: var(--size-2xl);
  }
  .hero__title{
    font-size: var(--size-6xl);
  }
  .hero__description{
    font-size: var(--size-lrg);
  }
  .hero__btn{
    font: var(--size-lrg);
  }

}

/* xl */
@media (min-width: 1280px) {
  
  .hero {
    gap: 2rem;
  }
  .hero__img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    object-position: top;
  }
  .hero__subtitle{
    font-size: var(--size-4xl);
  }
  .hero__title{
    font-size: var(--size-8xl);
  }
  .hero__description{
    font-size: var(--size-xl);
  }
  .hero__btn{
    font: var(--size-xl);
  }

}

/* 2xl */
/* @media (min-width: 1536px) {
  
} */